.header{
    padding: 15px 25px;
    /* width: 1140px; */
    margin: auto;
}

.header .header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav .menu_list{
    display: flex;
}

.header .nav .menu_list li{
    padding: 0 15px;
}

.header .nav .menu_list li a{
    color: white;
}

.header .logo{
    color: white;
}

.header .logo .logo_design{
    font-weight: bolder;
    color: rgb(202, 108, 0);
}

/* ùenu sticky */
.header.activeSticky{
    position: sticky;
    background: black;
    z-index: 1;
    top: -50px;
    /* width: 100%; */
    height: 0%;
    transition: all 1s;
    animation: stikyHeader .5s alternate forwards ease-out;
    /* animation: crescendo 1.5s alternate forwards ease-in; */
}

.header.activeSticky .header_content.container {
    max-width: 100%;
}

@keyframes stikyHeader {
    0% {top: -20px;}
  100% {top: 0px;}
}

