.banner{
    /* background: url("../../assets/images/jean_thierry_lalong_rb.jpg"); */
    height: 900px;
    /* position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

